In [1]:
pwd

'/Users/f0053cz/Dartmouth College Dropbox/Rekha Sreekumar Varrier/postdoc_Dartmouth/psyanim_behav_paper/version2/scripts_data_for_beh_paper/code/5_across_task_mixed_batch_trait_beh_corr'

In [2]:
import pandas as pd
import numpy as np
path_to_add = os.path.abspath('../')
print('path_to_add:',path_to_add)
sys.path.append(path_to_add)
from func_fix_curvefit_params import *
from general_utility_functions import *

path_to_add: /Users/f0053cz/Dartmouth College Dropbox/Rekha Sreekumar Varrier/postdoc_Dartmouth/psyanim_behav_paper/version2/scripts_data_for_beh_paper/code

In [3]:
traits_root_folder = '/Users/f0053cz/Documents/psyanim_v2/subtlety_playfight/'

In [4]:
df_sigmoid_subt = pd.read_csv('../../data/subtlety_playfight_data/curve_fit_subt/all_params_1k_subt_mixed.csv', index_col=[0])
df_sigmoid_subt.shape, df_sigmoid_subt.columns

((279, 11),
 Index(['r_squared', 'nrmse', 'aic', 'center', 'obj_center', 'sigma',
        'bias_xmin', 'bias_xmax', 'bias_lower', 'bias_upper', 'flipped'],
       dtype='object'))

In [5]:
bad_rows = (np.isnan(df_sigmoid_subt['obj_center'])) | \
      (np.isinf(df_sigmoid_subt['obj_center'])) | \
    (df_sigmoid_subt['obj_center']<0)
df_sigmoid_subt.loc[bad_rows,:]

,r_squared,nrmse,aic,center,obj_center,sigma,bias_xmin,bias_xmax,bias_lower,bias_upper,flipped
subID,,,,,,,,,,,
30153.0,0.493481,0.234090,-16.328702,0.196101,NaN,0.202573,0.635276,0.077545,0.523333,0.070000,False
30156.0,0.994711,0.029179,-45.480259,0.477303,NaN,0.096263,0.585949,0.043303,0.583333,0.041667,False
30201.0,0.992987,0.041195,-40.652173,0.418479,NaN,0.042199,0.561688,0.015000,0.561667,0.015000,False
30235.0,0.861362,0.130437,-24.516068,0.397311,NaN,0.110271,0.616466,0.086292,0.608333,0.085000,False
30246.0,0.925000,0.125988,-25.001943,0.491683,-inf,0.011999,0.500000,0.000000,0.500000,0.000000,False
30273.0,0.920315,0.103373,-27.771785,0.339515,NaN,0.130679,0.529537,0.120733,0.503333,0.118333,False
30297.0,0.701670,0.198372,-18.646576,0.586961,NaN,0.223000,0.645913,0.105600,0.625000,0.063333,False
30312.0,0.995885,0.027600,-46.259324,0.464891,NaN,0.068823,0.613706,0.066801,0.613333,0.066667,False
30342.0,0.811791,0.172931,-20.568092,0.435110,NaN,0.036179,0.526669,0.035000,0.526667,0.035000,False

In [6]:
df_sigmoid_subt = fix_obj_center(df_sigmoid_subt)

bad_rows = (np.isnan(df_sigmoid_subt['obj_center'])) | \
      (np.isinf(df_sigmoid_subt['obj_center'])) | \
    (df_sigmoid_subt['obj_center']<0)
df_sigmoid_subt.loc[bad_rows,:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, center, obj_center, sigma, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped]
Index: []

In [7]:
df_sigmoid_subt = add_new_params(df_sigmoid_subt)
df_sigmoid_subt.loc[df_sigmoid_subt['range']<0,:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, center, obj_center, sigma, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [8]:
df_sigmoid_subt.loc[np.isnan(df_sigmoid_subt['range']),:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, center, obj_center, sigma, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [9]:
df_sigmoid_subt.loc[np.isnan(df_sigmoid_subt['bias']),:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, center, obj_center, sigma, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [10]:
df_linear_pf = pd.read_csv('../../data/subtlety_playfight_data/curve_fit_pf_linear/all_params_1k_pf_mixed_linear.csv', index_col=[0])
bad_rows = (np.isnan(df_linear_pf['obj_center'])) | \
      (np.isinf(df_linear_pf['obj_center'])) | \
    (df_linear_pf['obj_center']<0)
df_linear_pf.loc[bad_rows,:]

,r_squared,nrmse,aic,obj_center,slope,intercept,bias_xmin,bias_xmax,bias_lower,bias_upper,flipped
subID,,,,,,,,,,,
30118.0,0.600956,0.199803,-36.119624,-1.004827,0.209643,0.710655,0.710655,0.079702,0.0,0.0,False
30124.0,0.042037,0.316306,-31.337313,-0.199764,0.050357,0.510060,0.510060,0.439583,0.0,0.0,False
30160.0,0.911317,0.107599,-36.729385,-0.009083,0.524286,0.504762,0.504762,-0.029048,0.0,0.0,False
30249.0,0.000000,0.306875,-46.511316,-inf,0.000000,0.684048,0.684048,0.315952,0.0,0.0,False
30286.0,0.795928,0.148290,-80.041061,-33.158520,0.014643,0.985536,0.985536,-0.000179,0.0,0.0,False
30321.0,0.266618,0.270531,-25.296828,-0.090696,0.223143,NaN,0.479762,0.743381,1.0,1.0,True
30330.0,0.712939,0.194045,-44.611433,-2.111517,0.146786,0.809940,0.809940,0.043274,0.0,0.0,False

In [11]:
df_linear_pf = fix_obj_center(df_linear_pf)
bad_rows = (np.isnan(df_linear_pf['obj_center'])) | \
      (np.isinf(df_linear_pf['obj_center'])) | \
    (df_linear_pf['obj_center']<0)
df_linear_pf.loc[bad_rows,:]

,r_squared,nrmse,aic,obj_center,slope,intercept,bias_xmin,bias_xmax,bias_lower,bias_upper,flipped
subID,,,,,,,,,,,
30063.0,0.852254,0.129774,-31.856147,NaN,0.556357,NaN,0.825226,0.731131,1.0,1.0,True
30227.0,0.842325,0.134981,-33.281745,NaN,0.483571,NaN,0.716786,0.766786,1.0,1.0,True
30321.0,0.266618,0.270531,-25.296828,NaN,0.223143,NaN,0.479762,0.743381,1.0,1.0,True

In [12]:
df_linear_pf = add_new_params(df_linear_pf)
df_linear_pf.loc[df_linear_pf['range']<0,:]

,r_squared,nrmse,aic,obj_center,slope,intercept,bias_xmin,bias_xmax,bias_lower,bias_upper,flipped,range,bias
subID,,,,,,,,,,,,,
30063.0,0.852254,0.129774,-31.856147,NaN,0.556357,NaN,0.825226,0.731131,1.0,1.0,True,-0.556357,0.530229
30227.0,0.842325,0.134981,-33.281745,NaN,0.483571,NaN,0.716786,0.766786,1.0,1.0,True,-0.483571,0.483149
30321.0,0.266618,0.270531,-25.296828,NaN,0.223143,NaN,0.479762,0.743381,1.0,1.0,True,-0.223143,0.392237

In [13]:
df_linear_pf = df_linear_pf.loc[df_linear_pf['range']>0,:] # remove negative amplitudes
bad_rows = (np.isnan(df_linear_pf['obj_center'])) | \
      (np.isinf(df_linear_pf['obj_center'])) | \
    (df_linear_pf['obj_center']<0)
df_linear_pf.loc[bad_rows,:] # no more NaN obj_centers after that

Empty DataFrame
Columns: [r_squared, nrmse, aic, obj_center, slope, intercept, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [14]:
df_linear_pf.loc[np.isnan(df_linear_pf['range']),:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, obj_center, slope, intercept, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [15]:
df_linear_pf.loc[np.isnan(df_linear_pf['bias']),:]

Empty DataFrame
Columns: [r_squared, nrmse, aic, obj_center, slope, intercept, bias_xmin, bias_xmax, bias_lower, bias_upper, flipped, range, bias]
Index: []

In [16]:
df_sigmoid_subt.rename(columns={'obj_center':'PSE'},inplace=True)
df_linear_pf.rename(columns={'obj_center':'PSE'},inplace=True)

In [17]:
def return_minmax(df,param):
    print(f'{param}: min={df[param].describe()["min"]:.2f}, max={df[param].describe()["max"]:.2f}')

In [18]:
return_minmax(df_sigmoid_subt,'PSE')
return_minmax(df_sigmoid_subt,'range')
return_minmax(df_sigmoid_subt,'bias')
return_minmax(df_sigmoid_subt,'bias_xmin')
return_minmax(df_sigmoid_subt,'bias_xmax')

print('\n')
return_minmax(df_linear_pf,'PSE')
return_minmax(df_linear_pf,'slope')
return_minmax(df_linear_pf,'bias')
return_minmax(df_linear_pf,'bias_xmin')
return_minmax(df_linear_pf,'bias_xmax')

PSE: min=0.00, max=0.73
range: min=0.20, max=1.00
bias: min=0.11, max=1.00
bias_xmin: min=0.00, max=0.65
bias_xmax: min=0.00, max=0.44


PSE: min=0.00, max=1.00
slope: min=0.00, max=1.00
bias: min=0.00, max=1.00
bias_xmin: min=0.00, max=0.99
bias_xmax: min=0.00, max=0.62

In [19]:
np.where(np.isnan(df_sigmoid_subt))

(array([], dtype=int64), array([], dtype=int64))

In [20]:
np.where(np.isnan(df_linear_pf))

(array([], dtype=int64), array([], dtype=int64))

In [21]:
both_expts = df_sigmoid_subt.merge(df_linear_pf,how='inner',on='subID',suffixes = ['_subt','_pf'])
both_expts.head()

,r_squared_subt,nrmse_subt,aic_subt,center,PSE_subt,sigma,bias_xmin_subt,bias_xmax_subt,bias_lower_subt,bias_upper_subt,...,PSE_pf,slope,intercept,bias_xmin_pf,bias_xmax_pf,bias_lower_pf,bias_upper_pf,flipped_pf,range_pf,bias_pf
subID,,,,,,,,,,,,,,,,,,,,,
30002.0,0.978946,0.059585,-35.485036,0.546183,0.552951,0.103360,0.031291,0.067887,0.026667,0.056667,...,0.486946,0.784286,0.118095,0.118095,0.097619,0.0,0.0,False,0.784286,0.547461
30004.0,0.994784,0.031310,-44.493407,0.311200,0.276896,0.076866,0.194061,0.000105,0.180000,0.000000,...,0.127093,0.469286,0.440357,0.440357,0.090357,0.0,0.0,False,0.469286,0.829744
30005.0,0.985636,0.048320,-38.418617,0.380063,0.320583,0.115353,0.249789,0.040080,0.223333,0.036667,...,0.498304,0.842143,0.080357,0.080357,0.077500,0.0,0.0,False,0.842143,0.509050
30006.0,0.983710,0.057399,-36.008190,0.465887,0.464823,0.079221,0.009433,0.001171,0.006667,0.000000,...,0.260263,0.725000,0.311310,0.311310,0.000000,0.0,0.0,False,0.688690,1.000000
30008.0,0.900792,0.110236,-26.871886,0.385415,0.325118,0.172585,0.289378,0.128370,0.225000,0.110000,...,0.322409,0.511071,0.335226,0.335226,0.153702,0.0,0.0,False,0.511071,0.685634

In [22]:
both_expts.columns

Index(['r_squared_subt', 'nrmse_subt', 'aic_subt', 'center', 'PSE_subt',
       'sigma', 'bias_xmin_subt', 'bias_xmax_subt', 'bias_lower_subt',
       'bias_upper_subt', 'flipped_subt', 'range_subt', 'bias_subt',
       'r_squared_pf', 'nrmse_pf', 'aic_pf', 'PSE_pf', 'slope', 'intercept',
       'bias_xmin_pf', 'bias_xmax_pf', 'bias_lower_pf', 'bias_upper_pf',
       'flipped_pf', 'range_pf', 'bias_pf'],
      dtype='object')

In [23]:
both_expts.rename(columns = {'center':'subj_center_subt', 'sigma':'sigma_subt', 'slope':'slope_pf'},inplace=True)
both_expts.columns

Index(['r_squared_subt', 'nrmse_subt', 'aic_subt', 'subj_center_subt',
       'PSE_subt', 'sigma_subt', 'bias_xmin_subt', 'bias_xmax_subt',
       'bias_lower_subt', 'bias_upper_subt', 'flipped_subt', 'range_subt',
       'bias_subt', 'r_squared_pf', 'nrmse_pf', 'aic_pf', 'PSE_pf', 'slope_pf',
       'intercept', 'bias_xmin_pf', 'bias_xmax_pf', 'bias_lower_pf',
       'bias_upper_pf', 'flipped_pf', 'range_pf', 'bias_pf'],
      dtype='object')

In [24]:
both_expts.columns

Index(['r_squared_subt', 'nrmse_subt', 'aic_subt', 'subj_center_subt',
       'PSE_subt', 'sigma_subt', 'bias_xmin_subt', 'bias_xmax_subt',
       'bias_lower_subt', 'bias_upper_subt', 'flipped_subt', 'range_subt',
       'bias_subt', 'r_squared_pf', 'nrmse_pf', 'aic_pf', 'PSE_pf', 'slope_pf',
       'intercept', 'bias_xmin_pf', 'bias_xmax_pf', 'bias_lower_pf',
       'bias_upper_pf', 'flipped_pf', 'range_pf', 'bias_pf'],
      dtype='object')

# merge traits across mini-batches

In [25]:
def merge_dfs(trait):

    root_folder = '../../data/subtlety_playfight_data/traits/'
    # merge traits from the 2 batches
    if trait not in ['ffi','ucla','friends']:
        trait_batch1 = pd.read_csv(f'{root_folder}/traits_first50/{trait}_missResp.csv', index_col=[0])
        trait_batch2 = pd.read_csv(f'{root_folder}/traits_allelse/{trait}_missResp.csv', index_col=[0])
    elif trait == 'friends':
        trait_batch1 = pd.read_csv(f'{root_folder}/traits_first50/{trait}_onlygood.csv', index_col=[0])
        trait_batch2 = pd.read_csv(f'{root_folder}/traits_allelse/{trait}_onlygood.csv', index_col=[0])
    else:
        trait_batch1 = pd.read_csv(f'{root_folder}/traits_first50/{trait}_missResp.csv')
        trait_batch2 = pd.read_csv(f'{root_folder}/traits_allelse/{trait}_missResp.csv')
    trait_batch1.rename(columns={'ParticipantID':'subID'},inplace=True)
    trait_batch2.rename(columns={'ParticipantID':'subID'},inplace=True)
    df_traits_merged = pd.concat([trait_batch1.set_index('subID'),trait_batch2.set_index('subID')]).reset_index()
    print(trait, '. shape:', trait_batch1.shape, trait_batch2.shape,df_traits_merged.shape)

    return df_traits_merged

In [26]:
df_aq = merge_dfs('aq')
cols = ['subID','social_skill_reweigh',	'attn_switch_reweigh', 'img_reweigh', 'attn_to_det_reweigh','comm_reweigh']
df_aq = df_aq[cols]
new_cols = [i[:-8] if i!='subID' else i for i in cols]
df_aq.rename(columns=dict(zip(cols,new_cols)),inplace=True)
df_aq.head()

aq . shape: (34, 73) (245, 73) (279, 73)

   subID  social_skill  attn_switch   img  attn_to_det       comm
0  30002          21.0         23.0   9.0         10.0  16.000000
1  30004          21.0         20.0   9.0         15.0  15.000000
2  30005          17.0         29.0  21.0         16.0  16.000000
3  30006           8.0         10.0   5.0         10.0   3.000000
4  30008           5.0         15.0  12.0         17.0  12.222222

In [27]:
df_panas = merge_dfs('panas')
cols = ['subID','Positive_reweigh', 'Negative_reweigh']
df_panas = df_panas[cols]
new_cols = ['subID','posAffect','negAffect'] #[i[:-8] if i!='subID' else i for i in cols]
df_panas.rename(columns=dict(zip(cols,new_cols)),inplace=True)
df_panas.head()

panas . shape: (34, 31) (245, 31) (279, 31)

   subID  posAffect  negAffect
0  30002       20.0        0.0
1  30004       25.0       11.0
2  30005       20.0       21.0
3  30006       25.0        0.0
4  30008       28.0        4.0

In [28]:
df_ffi = merge_dfs('ffi')
cols = ['subID', 'neuroticism_reweigh', 'extraversion_reweigh', 'openness_reweigh',	'agreeableness_reweigh', 'conscientiousness_reweigh']
df_ffi = df_ffi[cols]
new_cols = [i[:-8] if i!='subID' else i for i in cols]
df_ffi.rename(columns=dict(zip(cols,new_cols)),inplace=True)
df_ffi.head()

ffi . shape: (34, 85) (245, 85) (279, 85)

,subID,neuroticism,extraversion,openness,agreeableness,conscientiousness
0,30002,38.0,28.000000,31.000000,34.0,39.0
1,30004,38.0,26.181818,50.000000,50.0,46.0
2,30005,51.0,39.000000,40.000000,43.0,19.0
3,30006,18.0,41.000000,31.000000,44.0,57.0
4,30008,27.0,46.000000,42.545455,46.0,50.0

In [29]:
df_ucla = merge_dfs('ucla')
cols = ['subID', 'total_reweigh']
df_ucla = df_ucla[cols]
df_ucla.rename(columns = {'total_reweigh':'loneliness'},inplace=True)
df_ucla.head()

ucla . shape: (34, 26) (245, 26) (279, 26)

   subID  loneliness
0  30002        56.0
1  30004        56.0
2  30005        41.0
3  30006        30.0
4  30008        45.0

In [30]:
df_fr = merge_dfs('friends')
cols = ['subID', 'nfriends']
df_fr = df_fr[cols]
df_fr.head()

friends . shape: (34, 2) (245, 2) (279, 2)

   subID  nfriends
0  30002       3.0
1  30004       3.0
2  30005       5.0
3  30006       4.0
4  30008       5.0

In [31]:
len(np.where(both_expts.reset_index()['subID']<30050)[0])# sanity check about the 2 batches

34

In [32]:
np.where(np.isnan(both_expts))

(array([], dtype=int64), array([], dtype=int64))

In [33]:
both_expts.columns

Index(['r_squared_subt', 'nrmse_subt', 'aic_subt', 'subj_center_subt',
       'PSE_subt', 'sigma_subt', 'bias_xmin_subt', 'bias_xmax_subt',
       'bias_lower_subt', 'bias_upper_subt', 'flipped_subt', 'range_subt',
       'bias_subt', 'r_squared_pf', 'nrmse_pf', 'aic_pf', 'PSE_pf', 'slope_pf',
       'intercept', 'bias_xmin_pf', 'bias_xmax_pf', 'bias_lower_pf',
       'bias_upper_pf', 'flipped_pf', 'range_pf', 'bias_pf'],
      dtype='object')

# Merge trait and behavior

In [34]:
both_expts.shape, df_aq.shape, df_panas.shape, df_ffi.shape, df_ucla.shape, df_fr.shape # diff is because 3 neg amp subs were removed

((276, 26), (279, 6), (279, 3), (279, 6), (279, 2), (279, 2))

In [35]:
index_col = 'subID'
df_merged = pd.concat([both_expts,
    df_aq.set_index(index_col), \
    df_panas.set_index(index_col), \
    df_ffi.set_index(index_col), \
    df_ucla.set_index(index_col), \
        df_fr.set_index(index_col)],axis = 1,join='inner').reset_index()
df_merged.rename(columns = {'index':index_col},inplace=True)
df = df_merged.reset_index()
print(df.shape)
df.head()

(276, 42)

,index,subID,r_squared_subt,nrmse_subt,aic_subt,subj_center_subt,PSE_subt,sigma_subt,bias_xmin_subt,bias_xmax_subt,...,comm,posAffect,negAffect,neuroticism,extraversion,openness,agreeableness,conscientiousness,loneliness,nfriends
0,0,30002.0,0.978946,0.059585,-35.485036,0.546183,0.552951,0.103360,0.031291,0.067887,...,16.000000,20.0,0.0,38.0,28.000000,31.000000,34.0,39.0,56.0,3.0
1,1,30004.0,0.994784,0.031310,-44.493407,0.311200,0.276896,0.076866,0.194061,0.000105,...,15.000000,25.0,11.0,38.0,26.181818,50.000000,50.0,46.0,56.0,3.0
2,2,30005.0,0.985636,0.048320,-38.418617,0.380063,0.320583,0.115353,0.249789,0.040080,...,16.000000,20.0,21.0,51.0,39.000000,40.000000,43.0,19.0,41.0,5.0
3,3,30006.0,0.983710,0.057399,-36.008190,0.465887,0.464823,0.079221,0.009433,0.001171,...,3.000000,25.0,0.0,18.0,41.000000,31.000000,44.0,57.0,30.0,4.0
4,4,30008.0,0.900792,0.110236,-26.871886,0.385415,0.325118,0.172585,0.289378,0.128370,...,12.222222,28.0,4.0,27.0,46.000000,42.545455,46.0,50.0,45.0,5.0

In [36]:
np.where(np.isnan(df_aq))

(array([], dtype=int64), array([], dtype=int64))

In [37]:
np.where(np.isnan(df_panas))

(array([], dtype=int64), array([], dtype=int64))

In [38]:
np.where(np.isnan(df_ffi))

(array([], dtype=int64), array([], dtype=int64))

In [39]:
np.where(np.isnan(df_ucla))

(array([], dtype=int64), array([], dtype=int64))

In [40]:
np.where(np.isnan(df_fr))

(array([62]), array([1]))

In [41]:
# df.to_csv('../data/subtlety_playfight_data/curvefit_traits_merged_linearpf.csv')
# df.head()

In [42]:
print(df.shape)
df_nonan = df.dropna()#inplace=True)
print(df.shape,df_nonan.shape)

(276, 42)
(276, 42) (275, 42)

In [44]:
# df.rename(columns={'slope': 'slope_pf','sigma':'sigma_subt'},inplace=True)
# df.head()

In [45]:
df.to_csv('../../data/subtlety_playfight_data/curvefit_traits_merged_linearpf.csv')
df.head()

,index,subID,r_squared_subt,nrmse_subt,aic_subt,subj_center_subt,PSE_subt,sigma_subt,bias_xmin_subt,bias_xmax_subt,...,comm,posAffect,negAffect,neuroticism,extraversion,openness,agreeableness,conscientiousness,loneliness,nfriends
0,0,30002.0,0.978946,0.059585,-35.485036,0.546183,0.552951,0.103360,0.031291,0.067887,...,16.000000,20.0,0.0,38.0,28.000000,31.000000,34.0,39.0,56.0,3.0
1,1,30004.0,0.994784,0.031310,-44.493407,0.311200,0.276896,0.076866,0.194061,0.000105,...,15.000000,25.0,11.0,38.0,26.181818,50.000000,50.0,46.0,56.0,3.0
2,2,30005.0,0.985636,0.048320,-38.418617,0.380063,0.320583,0.115353,0.249789,0.040080,...,16.000000,20.0,21.0,51.0,39.000000,40.000000,43.0,19.0,41.0,5.0
3,3,30006.0,0.983710,0.057399,-36.008190,0.465887,0.464823,0.079221,0.009433,0.001171,...,3.000000,25.0,0.0,18.0,41.000000,31.000000,44.0,57.0,30.0,4.0
4,4,30008.0,0.900792,0.110236,-26.871886,0.385415,0.325118,0.172585,0.289378,0.128370,...,12.222222,28.0,4.0,27.0,46.000000,42.545455,46.0,50.0,45.0,5.0

In [46]:
df.columns

Index(['index', 'subID', 'r_squared_subt', 'nrmse_subt', 'aic_subt',
       'subj_center_subt', 'PSE_subt', 'sigma_subt', 'bias_xmin_subt',
       'bias_xmax_subt', 'bias_lower_subt', 'bias_upper_subt', 'flipped_subt',
       'range_subt', 'bias_subt', 'r_squared_pf', 'nrmse_pf', 'aic_pf',
       'PSE_pf', 'slope_pf', 'intercept', 'bias_xmin_pf', 'bias_xmax_pf',
       'bias_lower_pf', 'bias_upper_pf', 'flipped_pf', 'range_pf', 'bias_pf',
       'social_skill', 'attn_switch', 'img', 'attn_to_det', 'comm',
       'posAffect', 'negAffect', 'neuroticism', 'extraversion', 'openness',
       'agreeableness', 'conscientiousness', 'loneliness', 'nfriends'],
      dtype='object')

In [48]:
ind = int(np.where(df.columns=='social_skill')[0][0])
onlynec_cols = ['subID','PSE_subt','range_subt','bias_subt','sigma_subt','PSE_pf','slope_pf','bias_pf'] + list(df.columns[ind:])#,'social_skill','comm','loneliness','posAffect']
onlynec_cols

['subID',
 'PSE_subt',
 'range_subt',
 'bias_subt',
 'sigma_subt',
 'PSE_pf',
 'slope_pf',
 'bias_pf',
 'social_skill',
 'attn_switch',
 'img',
 'attn_to_det',
 'comm',
 'posAffect',
 'negAffect',
 'neuroticism',
 'extraversion',
 'openness',
 'agreeableness',
 'conscientiousness',
 'loneliness',
 'nfriends']

In [49]:
df = df[onlynec_cols]
df.to_csv('../../data/subtlety_playfight_data/curvefit_traits_merged_linearpf_onlyneccols.csv')